* { margin: 0; padding: 0;}
html{ font-family: sans-serif; overflow-y: scroll; scroll-behavior: smooth;}

/* HEADER */

.home-arrow {
  position: fixed;
  bottom: -40px;
  right: 40px;
  width: 50px;
  height: 50px;
  transition: .2s;
}

.home-arrow__icon {
  width: 100%;
  height: 100%;
}

.nav {
  position: absolute;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 1;
  display: none;
}

.nav__icon {
  width: 100%;
}

.menu-nav {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  transition: .2s;
}
.menu-nav > ul {
  left: 0;
  right: 0;
}

.menu-nav > ul > li {
  list-style: none;
  float: left;
}

.menu-nav > ul > li > a {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  padding: 18px 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-nav > ul > li > a:hover {
  color: #5BE6FF;
}

@media screen and (max-width: 768px) {
  .menu-nav {
    margin-left: -100%;
  }
  .menu-nav > ul {
    width: 100%;
    background-color: rgba(46, 112, 255, .9);
  }
  .menu-nav > ul > li  {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .menu-nav > ul > li:first-child {
    margin-top: 50px;
  }

  .menu-nav > ul > li > a {
    padding: 18px 0;
  }

  .nav {
    display: block;
  }
}

.active {
  margin-left: 0;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg-front-end.jpg);
  background-size: cover;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.header__apresentation-div {
  text-align: center;
}

.header__apresentation-div > h1 {
  font-size: 5rem;
}

@media screen and (max-width: 435px){
    .header__apresentation-div > h1 {
      font-size: 3em;
    }
}

.header__apresentation-div--under-line {
  height: 5px;
  width: 50px;
  background: linear-gradient(90deg, #fff, #000);
  margin: 1rem auto;
  border-radius: 5px;
}

.header__apresentation-div > h2 {
  font-size: 1.8rem;
}

/* MAIN */

#skills {
  background-color: #2d3436;
  color: #dfe6e9;
  padding: 1em 0 2em 0;
}

.skills__container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills__title{
  font-size: 3em;
  margin: 1em 0 .6em 0 ;
  width: 100%;
}

.skills__container > p {
  width: 100%;
  margin: 0 2em 5em 2em;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list--item {
  list-style: none;
  margin: 0 50px;
  width: 130px;
  height: 300px;
}

.skills__list--item-image {
  width: 100%;
  height: 200px;
}

.skills__list--item:last-child > img {
  margin-top: 40px;
  height: 160px;
  width: 100%;
}

.skills__list--item:last-child {
  width: 160px;
}

.skills__list h4 {
  margin-top: 1em;
}

#contact {
  background-image: url(../images/bg-contact.jpg);
  padding: 1em 0 2em 0
}

.contact__container {
  color: rgba(255, 255, 255, .9);
  text-align: center;
}

.contact__title {
  padding-top: .6em;
  font-size: 3em;
}

.contact__subtitle {
  font-weight: 700;
  margin: 0 2em 0 2em;
}

.contact__subtitle--email {
  color: #000183;
}

.contact__list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contact__list--item {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.contact__list--item:first-child {
  margin-left: -25px;
}

.contact__list--item-image {
  width: 100%;
  height: 100%;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: #2d3436;
  text-align: center;
}

#footer p {
  color: rgba(255, 255, 255, .8);
  line-height: 50px;
}
